.textPage {
    background: #dee9f7;
    display: flex;
    justify-content: center;
}

.pageContainer {
    margin-top: 100px;
    padding: 30px;
    width: 90vw;
    background-color: #dee9f7;
    border-color: #e2ecfd;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*-------- CSS for About Us page ---------*/

.aboutContainer {
  display: flex;
  flex-direction: row;
}

.aboutItem {
  margin: 20px;
}

.aboutItem h1 {
  padding-bottom: 10px;
}



/* for customer care */

.pageContainerText{
  width: 600px;
  height: 250px;
}

.pageContainerButton{
  width: 90px;
  margin-left: 500px;
  margin-top: 10px;
}

.three {
  margin-top: 40px;
  margin-right: 350px;
}

.four{
  margin-top: 10px;
}