.Polaris-Labelled--hidden > .Polaris-Labelled__LabelWrapper {
  position: absolute !important;
  top: 0;
  clip: rect(1px, 1px, 1px, 1px) !important;
  overflow: hidden !important;
  height: 1px !important;
  width: 1px !important;
  padding: 0 !important;
  border: 0 !important;
}

.Polaris-Labelled__LabelWrapper {
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.4rem;
}

.Polaris-Label {
  -webkit-tap-highlight-color: transparent;
}

.Polaris-Label--hidden {
  position: absolute !important;
  top: 0;
  clip: rect(1px, 1px, 1px, 1px) !important;
  overflow: hidden !important;
  height: 1px !important;
  width: 1px !important;
  padding: 0 !important;
  border: 0 !important;
}

.Polaris-Label__Text {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  text-transform: initial;
  letter-spacing: initial;
  display: block;
  flex: 1 1 auto;
  color: currentColor;
  -webkit-tap-highlight-color: transparent;
}
@media (min-width: 40em) {
  .Polaris-Label__Text {
    font-size: 1.4rem;
  }
}

.Polaris-Connected {
  position: relative;
  display: flex;
}

.Polaris-Connected__Item {
  position: relative;
  z-index: 10;
  flex: 0 0 auto;
}
.Polaris-Connected__Item:not(:first-child) {
  margin-left: -1px;
}

.Polaris-Connected__Item--primary {
  z-index: 20;
  flex: 1 1 auto;
}
.Polaris-Connected__Item--primary:not(:first-child) * {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.Polaris-Connected__Item--primary:not(:last-child) * {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.Polaris-Connected__Item--connection:first-child * {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.Polaris-Connected__Item--connection:first-child *::after {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.Polaris-Connected__Item--connection:last-child * {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.Polaris-Connected__Item--connection:last-child *::after {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.Polaris-Connected__Item--focused {
  z-index: 30;
}

.Polaris-Button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 3.6rem;
  min-width: 3.6rem;
  margin: 0;
  padding: 0.7rem 1.6rem;
  background: linear-gradient(to bottom, white, #f9fafb);
  border: 0.1rem solid #c4cdd5;
  box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
  border-radius: 3px;
  line-height: 1;
  color: #212b36;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  transition-property: background, border, box-shadow;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.64, 0, 0.35, 1);
}
.Polaris-Button svg {
  fill: #637381;
}
.Polaris-Button:hover {
  background: linear-gradient(to bottom, #f9fafb, #f4f6f8);
  border-color: #c4cdd5;
}
.Polaris-Button:focus {
  border-color: #5c6ac4;
  outline: 0;
  box-shadow: 0 0 0 1px #5c6ac4;
}
@media (-ms-high-contrast: active) {
  .Polaris-Button:focus {
    outline: 2px dotted;
  }
}
.Polaris-Button:active {
  background: linear-gradient(to bottom, #f4f6f8, #f4f6f8);
  border-color: #c4cdd5;
  box-shadow: 0 0 0 0 transparent, inset 0 1px 1px 0 rgba(99, 115, 129, 0.1),
    inset 0 1px 4px 0 rgba(99, 115, 129, 0.2);
}
.Polaris-Button.Polaris-Button--disabled {
  transition: none;
  background: linear-gradient(to bottom, #f4f6f8, #f4f6f8);
  color: #919eab;
}
.Polaris-Button.Polaris-Button--disabled svg {
  fill: #919eab;
}

.Polaris-Button__Content {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6rem;
  text-transform: initial;
  letter-spacing: initial;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1px;
  min-height: 1px;
}
@media (min-width: 40em) {
  .Polaris-Button__Content {
    font-size: 1.4rem;
  }
}

.Polaris-Button--textAlignLeft {
  justify-content: flex-start;
  text-align: left;
}

.Polaris-Button--textAlignCenter {
  justify-content: center;
  text-align: center;
}

.Polaris-Button--textAlignRight {
  justify-content: flex-end;
  text-align: right;
}

.Polaris-Button__Icon {
  transition: color 200ms cubic-bezier(0.64, 0, 0.35, 1);
}
.Polaris-Button__Icon:first-child {
  margin-left: -0.4rem;
}
.Polaris-Button__Icon:last-child {
  margin-right: -0.8rem;
  margin-left: 0.4rem;
}
.Polaris-Button__Icon + *:not(.Polaris-Button__Icon) {
  margin-left: 0.4rem;
}

.Polaris-Button__Spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1rem;
  margin-left: -1rem;
}

.Polaris-Button--primary {
  background: linear-gradient(to bottom, #6371c7, #5563c1);
  border-color: #3f4eae;
  box-shadow: inset 0 1px 0 0 #6774c8, 0 1px 0 0 rgba(22, 29, 37, 0.05),
    0 0 0 0 transparent;
  color: white;
}
.Polaris-Button--primary:hover {
  background: linear-gradient(to bottom, #5c6ac4, #4959bd);
  border-color: #3f4eae;
  color: white;
  text-decoration: none;
}
.Polaris-Button--primary:focus {
  border-color: #202e78;
  box-shadow: inset 0 1px 0 0 #6f7bcb, 0 1px 0 0 rgba(22, 29, 37, 0.05),
    0 0 0 1px #202e78;
}
.Polaris-Button--primary:active {
  background: linear-gradient(to bottom, #3f4eae, #3f4eae);
  border-color: #38469b;
  box-shadow: inset 0 0 0 0 transparent, 0 1px 0 0 rgba(22, 29, 37, 0.05),
    0 0 1px 0 #38469b;
}
.Polaris-Button--primary svg {
  fill: white;
}
.Polaris-Button--primary.Polaris-Button--disabled {
  background: linear-gradient(to bottom, #bac0e6, #bac0e6);
  border-color: #a7aedf;
  box-shadow: none;
  color: white;
}
.Polaris-Button--primary.Polaris-Button--disabled svg {
  fill: white;
}

.Polaris-Button--destructive {
  background: linear-gradient(to bottom, #e6391a, #d53417);
  border-color: #b02b13;
  box-shadow: inset 0 1px 0 0 #e73d1f, 0 1px 0 0 rgba(22, 29, 37, 0.05),
    0 0 0 0 transparent;
  color: white;
}
.Polaris-Button--destructive:hover {
  background: linear-gradient(to bottom, #de3618, #c73016);
  border-color: #b02b13;
  color: white;
  text-decoration: none;
}
.Polaris-Button--destructive:focus {
  border-color: #bf0711;
  box-shadow: inset 0 1px 0 0 #e84528, 0 1px 0 0 rgba(22, 29, 37, 0.05),
    0 0 0 1px #bf0711;
}
.Polaris-Button--destructive:active {
  background: linear-gradient(to bottom, #b02b13, #b02b13);
  border-color: #992511;
  box-shadow: inset 0 0 0 0 transparent, 0 1px 0 0 rgba(22, 29, 37, 0.05),
    0 0 1px 0 #992511;
}
.Polaris-Button--destructive svg {
  fill: white;
}
.Polaris-Button--destructive.Polaris-Button--disabled {
  background: linear-gradient(to bottom, #f29484, #f29484);
  border-color: #ef816d;
  box-shadow: none;
  color: white;
}
.Polaris-Button--destructive.Polaris-Button--disabled svg {
  fill: white;
}

.Polaris-Button--outline {
  background: transparent;
  border-color: rgba(99, 115, 129, 0.4);
  box-shadow: none;
  color: #374047;
}
.Polaris-Button--outline:hover {
  background: rgba(99, 115, 129, 0.05);
  border-color: rgba(99, 115, 129, 0.4);
}
.Polaris-Button--outline:focus {
  border-color: rgba(99, 115, 129, 0.8);
  box-shadow: 0 0 0 1px rgba(99, 115, 129, 0.8);
}
.Polaris-Button--outline:active {
  background: rgba(99, 115, 129, 0.1);
  box-shadow: none;
}
.Polaris-Button--outline.Polaris-Button--disabled {
  background: transparent;
  border-color: rgba(99, 115, 129, 0.25);
  box-shadow: none;
  color: #919eab;
}
.Polaris-Button--outline.Polaris-Button--disabled svg {
  fill: #919eab;
}

.Polaris-Button--destructive.Polaris-Button--outline {
  background: transparent;
  border-color: rgba(222, 54, 24, 0.4);
  box-shadow: none;
  color: #82200e;
}
.Polaris-Button--destructive.Polaris-Button--outline:hover {
  background: rgba(222, 54, 24, 0.05);
  border-color: rgba(222, 54, 24, 0.4);
}
.Polaris-Button--destructive.Polaris-Button--outline:focus {
  border-color: rgba(222, 54, 24, 0.8);
  box-shadow: 0 0 0 1px rgba(222, 54, 24, 0.8);
}
.Polaris-Button--destructive.Polaris-Button--outline:active {
  background: rgba(222, 54, 24, 0.1);
  box-shadow: none;
}
.Polaris-Button--destructive.Polaris-Button--outline svg {
  fill: #bf0711;
}

.Polaris-Button--disabled {
  cursor: default;
  pointer-events: none;
}

@keyframes Polaris-Button--loading {
  to {
    transform: rotate(360deg);
  }
}

.Polaris-Button--loading {
  position: relative;
  transition: border-color 200ms cubic-bezier(0.64, 0, 0.35, 1);
}
.Polaris-Button--loading,
.Polaris-Button--loading:hover,
.Polaris-Button--loading.Polaris-Button--disabled {
  color: transparent;
}

.Polaris-Button--plain {
  margin: -0.7rem -0.8rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  background: transparent;
  border: 0;
  box-shadow: none;
  color: #006fbb;
}
.Polaris-Button--plain svg {
  fill: #006fbb;
}
.Polaris-Button--plain:hover,
.Polaris-Button--plain:focus,
.Polaris-Button--plain:active {
  background: transparent;
  border: 0;
  box-shadow: none;
  color: #084e8a;
}
.Polaris-Button--plain:hover svg,
.Polaris-Button--plain:focus svg,
.Polaris-Button--plain:active svg {
  fill: #084e8a;
}
@media (-ms-high-contrast: active) {
  .Polaris-Button--plain:focus {
    outline: none;
  }
}
@media (-ms-high-contrast: active) {
  .Polaris-Button--plain:focus > .Polaris-Button__Content {
    outline: 2px dotted;
  }
}
.Polaris-Button--plain:focus:not(.Polaris-Button--iconOnly)
  > .Polaris-Button__Content {
  padding: 2px 5px;
  margin: -2px -5px;
  background: rgba(33, 43, 54, 0.1);
  border-radius: 3px;
  transition: opacity 200ms cubic-bezier(0.64, 0, 0.35, 1);
}
.Polaris-Button--plain.Polaris-Button--fullWidth {
  margin-left: 0;
  margin-right: 0;
}
.Polaris-Button--plain.Polaris-Button--destructive {
  color: #bf0711;
}
.Polaris-Button--plain.Polaris-Button--destructive:hover {
  color: #330101;
}
.Polaris-Button--plain.Polaris-Button--disabled {
  background: none;
}
.Polaris-Button--plain.Polaris-Button--sizeSlim {
  margin-top: -0.4rem;
  margin-bottom: -0.4rem;
}
.Polaris-Button--plain.Polaris-Button--sizeLarge {
  margin: -1.1rem -2rem;
}
.Polaris-Button--plain.Polaris-Button--iconOnly {
  margin: -0.8rem;
}
.Polaris-Button--plain.Polaris-Button--iconOnly svg {
  fill: #637381;
}
.Polaris-Button--plain.Polaris-Button--iconOnly:focus,
.Polaris-Button--plain.Polaris-Button--iconOnly:active {
  background: rgba(33, 43, 54, 0.1);
}
.Polaris-Button--plain.Polaris-Button--iconOnly:focus svg,
.Polaris-Button--plain.Polaris-Button--iconOnly:active svg {
  fill: #637381;
}
.Polaris-Button--plain.Polaris-Button--iconOnly:hover svg,
.Polaris-Button--plain.Polaris-Button--iconOnly:active svg {
  fill: #212b36;
}
.Polaris-Button--plain.Polaris-Button--iconOnly
  > .Polaris-Button__Content::after {
  display: none;
}
.Polaris-Button--plain.Polaris-Button--iconOnly.Polaris-Button--disabled svg {
  fill: #c4cdd5;
}
.Polaris-Button--plain .Polaris-Button__Icon {
  margin-left: 0;
  margin-right: 0;
}

.Polaris-Button--sizeSlim {
  min-height: 3rem;
  padding: 0.4rem 1.2rem;
}

.Polaris-Button--sizeLarge {
  min-height: 4.4rem;
  min-width: 4.4rem;
  padding: 1.1rem 2.4rem;
}
.Polaris-Button--sizeLarge .Polaris-Button__Content {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2rem;
  text-transform: initial;
  letter-spacing: initial;
}
@media (min-width: 40em) {
  .Polaris-Button--sizeLarge .Polaris-Button__Content {
    font-size: 1.6rem;
  }
}

.Polaris-Button--fullWidth {
  display: flex;
  width: 100%;
}

.Polaris-Button--iconOnly {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
.Polaris-Button--iconOnly.Polaris-Button--sizeLarge {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
.Polaris-Button--iconOnly .Polaris-Button__Icon:first-child {
  margin-left: 0;
}
.Polaris-Button--iconOnly .Polaris-Button__Icon:last-child {
  margin-right: -0.4rem;
}
.Polaris-Button--iconOnly .Polaris-Button__Icon:only-child {
  margin-right: 0;
}

.Polaris-Button--monochrome.Polaris-Button--outline,
.Polaris-Button--monochrome.Polaris-Button--plain {
  color: currentColor;
}
.Polaris-Button--monochrome.Polaris-Button--outline svg,
.Polaris-Button--monochrome.Polaris-Button--plain svg {
  fill: currentColor;
}
.Polaris-Button--monochrome.Polaris-Button--outline:hover,
.Polaris-Button--monochrome.Polaris-Button--outline:focus,
.Polaris-Button--monochrome.Polaris-Button--outline:active,
.Polaris-Button--monochrome.Polaris-Button--plain:hover,
.Polaris-Button--monochrome.Polaris-Button--plain:focus,
.Polaris-Button--monochrome.Polaris-Button--plain:active {
  color: currentColor;
}
.Polaris-Button--monochrome.Polaris-Button--outline:hover svg,
.Polaris-Button--monochrome.Polaris-Button--outline:focus svg,
.Polaris-Button--monochrome.Polaris-Button--outline:active svg,
.Polaris-Button--monochrome.Polaris-Button--plain:hover svg,
.Polaris-Button--monochrome.Polaris-Button--plain:focus svg,
.Polaris-Button--monochrome.Polaris-Button--plain:active svg {
  fill: currentColor;
}
.Polaris-Button--monochrome.Polaris-Button--outline.Polaris-Button--disabled,
.Polaris-Button--monochrome.Polaris-Button--plain.Polaris-Button--disabled {
  color: currentColor;
  opacity: 0.4;
}
.Polaris-Button--monochrome.Polaris-Button--outline.Polaris-Button--disabled
  svg,
.Polaris-Button--monochrome.Polaris-Button--plain.Polaris-Button--disabled svg {
  fill: currentColor;
}
.Polaris-Button--monochrome.Polaris-Button--outline.Polaris-Button--iconOnly
  svg,
.Polaris-Button--monochrome.Polaris-Button--plain.Polaris-Button--iconOnly svg {
  fill: currentColor;
}
.Polaris-Button--monochrome.Polaris-Button--outline.Polaris-Button--iconOnly:focus
  svg,
.Polaris-Button--monochrome.Polaris-Button--outline.Polaris-Button--iconOnly:active
  svg,
.Polaris-Button--monochrome.Polaris-Button--plain.Polaris-Button--iconOnly:focus
  svg,
.Polaris-Button--monochrome.Polaris-Button--plain.Polaris-Button--iconOnly:active
  svg {
  fill: currentColor;
}
.Polaris-Button--monochrome.Polaris-Button--outline.Polaris-Button--iconOnly.Polaris-Button--disabled
  svg,
.Polaris-Button--monochrome.Polaris-Button--plain.Polaris-Button--iconOnly.Polaris-Button--disabled
  svg {
  fill: currentColor;
}

.Polaris-Button--monochrome.Polaris-Button--plain .Polaris-Button__Text {
  text-decoration: underline;
}

.Polaris-Button--monochrome.Polaris-Button--outline {
  position: relative;
  border-color: currentColor;
}
.Polaris-Button--monochrome.Polaris-Button--outline::before {
  content: "";
  transition: opacity 200ms cubic-bezier(0.64, 0, 0.35, 1);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  opacity: 0;
  z-index: 0;
}
.Polaris-Button--monochrome.Polaris-Button--outline:hover,
.Polaris-Button--monochrome.Polaris-Button--outline:focus,
.Polaris-Button--monochrome.Polaris-Button--outline:active {
  background-color: transparent;
  border-color: currentColor;
}
.Polaris-Button--monochrome.Polaris-Button--outline:hover::before,
.Polaris-Button--monochrome.Polaris-Button--outline:focus::before,
.Polaris-Button--monochrome.Polaris-Button--outline:active::before {
  opacity: 0.05;
}

.Polaris-TextField--multiline {
  padding: 0;
  flex-wrap: wrap;
}
.Polaris-TextField--multiline > .Polaris-TextField__Input {
  overflow: auto;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  resize: none;
}

.Polaris-TextField--hasValue {
  color: #637381;
}

.Polaris-TextField--focus > .Polaris-TextField__Input,
.Polaris-TextField__Input:focus {
  outline: none;
  border: 0.1rem solid transparent;
}
.Polaris-TextField--focus
  > .Polaris-TextField__Input
  ~ .Polaris-TextField__Backdrop::after,
.Polaris-TextField__Input:focus ~ .Polaris-TextField__Backdrop::after {
  opacity: 1;
}

.Polaris-TextField--error .Polaris-TextField__Input::-webkit-input-placeholder {
  color: #9c9798;
}

.Polaris-TextField--error .Polaris-TextField__Input::-ms-input-placeholder {
  color: #9c9798;
}

.Polaris-TextField--error .Polaris-TextField__Input::placeholder {
  color: #9c9798;
}

.Polaris-TextField--error
  > .Polaris-TextField__Input
  ~ .Polaris-TextField__Backdrop {
  background-color: #fbeae5;
  border-color: #bf0711;
}
.Polaris-TextField--error
  > .Polaris-TextField__Input
  ~ .Polaris-TextField__Backdrop::after {
  border-color: #bf0711;
}

.Polaris-TextField--readOnly > .Polaris-TextField__Backdrop {
  background-color: #f9fafb;
}

.Polaris-TextField--disabled {
  color: #919eab;
  cursor: initial;
}
.Polaris-TextField--disabled > .Polaris-TextField__Backdrop {
  background-color: #f9fafb;
  box-shadow: none;
}
.Polaris-TextField--disabled svg {
  fill: #919eab;
}

.Polaris-TextField__Input {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  text-transform: initial;
  letter-spacing: initial;
  position: relative;
  z-index: 20;
  display: block;
  flex: 1 1;
  width: 100%;
  min-width: 0;
  min-height: 3.6rem;
  margin: 0;
  padding: 0.5rem 1.2rem;
  background: none;
  border: 0.1rem solid transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
@media (min-width: 40em) {
  .Polaris-TextField__Input {
    font-size: 1.4rem;
  }
}
.Polaris-TextField__Prefix + .Polaris-TextField__Input {
  padding-left: 0;
}
.Polaris-TextField__Input:disabled {
  background: none;
  border: 0.1rem solid transparent;
  color: currentColor;
  opacity: 1;
  -webkit-text-fill-color: currentColor;
}
.Polaris-TextField__Input:invalid {
  box-shadow: none;
}
.Polaris-TextField__Input::-webkit-input-placeholder {
  color: #919eab;
}
.Polaris-TextField__Input::-ms-input-placeholder {
  color: #919eab;
}
.Polaris-TextField__Input::placeholder {
  color: #919eab;
}
.Polaris-TextField__Input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
.Polaris-TextField__Input[type="number"]::-webkit-outer-spin-button,
.Polaris-TextField__Input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.Polaris-TextField__Input--hasClearButton[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.Polaris-TextField__Input--suffixed {
  padding-right: 0;
}

.Polaris-TextField__Input--alignRight {
  text-align: right;
}

.Polaris-TextField__Input--alignLeft {
  text-align: left;
}

.Polaris-TextField__Input--alignCenter {
  text-align: center;
}

.Polaris-TextField--hasValue {
  color: #637381;
}

.Polaris-TextField--focus > .Polaris-TextField__Input,
.Polaris-TextField__Input:focus {
  outline: none;
  border: 0.1rem solid transparent;
}
.Polaris-TextField--focus
  > .Polaris-TextField__Input
  ~ .Polaris-TextField__Backdrop::after,
.Polaris-TextField__Input:focus ~ .Polaris-TextField__Backdrop::after {
  opacity: 1;
}

.Polaris-TextField--error .Polaris-TextField__Input::-webkit-input-placeholder {
  color: #9c9798;
}

.Polaris-TextField--error .Polaris-TextField__Input::-ms-input-placeholder {
  color: #9c9798;
}

.Polaris-TextField--error .Polaris-TextField__Input::placeholder {
  color: #9c9798;
}

.Polaris-TextField--error
  > .Polaris-TextField__Input
  ~ .Polaris-TextField__Backdrop {
  background-color: #fbeae5;
  border-color: #bf0711;
}
.Polaris-TextField--error
  > .Polaris-TextField__Input
  ~ .Polaris-TextField__Backdrop::after {
  border-color: #bf0711;
}

.Polaris-TextField--readOnly > .Polaris-TextField__Backdrop {
  background-color: #f9fafb;
}

.Polaris-TextField--disabled {
  color: #919eab;
  cursor: initial;
}
.Polaris-TextField--disabled > .Polaris-TextField__Backdrop {
  background-color: #f9fafb;
  box-shadow: none;
}
.Polaris-TextField--disabled svg {
  fill: #919eab;
}

.Polaris-TextField__Input {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  text-transform: initial;
  letter-spacing: initial;
  position: relative;
  z-index: 20;
  display: block;
  flex: 1 1;
  width: 100%;
  min-width: 0;
  min-height: 3.6rem;
  margin: 0;
  padding: 0.5rem 1.2rem;
  background: none;
  border: 0.1rem solid transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
@media (min-width: 40em) {
  .Polaris-TextField__Input {
    font-size: 1.4rem;
  }
}
.Polaris-TextField__Prefix + .Polaris-TextField__Input {
  padding-left: 0;
}
.Polaris-TextField__Input:disabled {
  background: none;
  border: 0.1rem solid transparent;
  color: currentColor;
  opacity: 1;
  -webkit-text-fill-color: currentColor;
}
.Polaris-TextField__Input:invalid {
  box-shadow: none;
}
.Polaris-TextField__Input::-webkit-input-placeholder {
  color: #919eab;
}
.Polaris-TextField__Input::-ms-input-placeholder {
  color: #919eab;
}
.Polaris-TextField__Input::placeholder {
  color: #919eab;
}
.Polaris-TextField__Input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
.Polaris-TextField__Input[type="number"]::-webkit-outer-spin-button,
.Polaris-TextField__Input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.Polaris-TextField__Input--hasClearButton[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.Polaris-TextField__Input--suffixed {
  padding-right: 0;
}

.Polaris-TextField__Input--alignRight {
  text-align: right;
}

.Polaris-TextField__Input--alignLeft {
  text-align: left;
}

.Polaris-TextField__Input--alignCenter {
  text-align: center;
}

.Polaris-TextField__Backdrop {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  border: 0.1rem solid #c4cdd5;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 rgba(99, 115, 129, 0.05);
  pointer-events: none;
}
.Polaris-TextField__Backdrop::after {
  content: "";
  position: absolute;
  top: -0.2rem;
  right: -0.2rem;
  bottom: -0.2rem;
  left: -0.2rem;
  border: 0.2rem solid #5c6ac4;
  border-radius: inherit;
  opacity: 0;
  transition: opacity 200ms cubic-bezier(0.64, 0, 0.35, 1);
  pointer-events: none;
}
