.page {
    background: #e6e7ee;
    display: flex;
    justify-content: center;
}

.pageContainer {
    margin-top: 100px;
    padding: 10px;
    width: 90vw;
    background-color: #e6e7ee;
    border-color: #e6e7ee;
    box-shadow: 2px 2px 5px #b8b9be, -3px -3px 7px #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.actualContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.items{
    width: 400px;
    height: 60vh;
    outline: 0;
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #FFFFFF;
    margin: 40px;
    margin-bottom: 0;
    overflow-y: scroll; 
}
.payment{
    width: 400px;
    outline: 0;
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #FFFFFF;
    margin: 40px;
    height: 60vh;
    margin-bottom: 0;
}

::-webkit-scrollbar {
    display: none;
}