.menuContainer {
    top: 100px;
    background: #dee9f7;
    position: fixed;
    left: 0;
    width: 250px;
    box-shadow: inset 2px 2px 5px #b7c4dd, inset -3px -3px 7px #eafcfc;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 45;
    border-radius: 1.55rem;
}

.menuItem {
    color: #31344b;
    margin: 8px 40px;
    width: 170px;
    background-color: #dee9f7;
    border-color: #e2ecfd;
    box-shadow: 2px 2px 5px #b7c4dd, -3px -3px 7px #eafcfc;
    display: flex;
    flex-direction: row;
    border-radius: 1.55rem;
}

.menuItem:hover {
    color: #000;
    background-color: #dee9f7;
    border-color: #e2ecfd;
    box-shadow: inset 2px 2px 5px #b7c4dd, inset -3px -3px 7px #eafcfc;
}

.closeContainer {
    width: auto;
    margin: 10px;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 1.55rem;
}


/*

Neumorp

*/

.btn {
    display: inline-block;
    cursor: pointer;
    font-weight: 400;
    color: #000;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 0.0625rem solid transparent;
    padding: 0.55rem 0.95rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 1.55rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: none;
    }
}

.btn:hover {
    color: #44476A;
    text-decoration: none;
}

.btn:focus,
.btn.focus {
    outline: 0;
    box-shadow: inset 2px 2px 5px #b7c4dd, inset -3px -3px 7px #eafcfc;
}

.btn.disabled,
.btn:disabled {
    opacity: 0.65;
    box-shadow: none;
}

.btn:not(:disabled):not(.disabled):active,
.btn:not(:disabled):not(.disabled).active {
    box-shadow: inset 2px 2px 5px #b7c4dd, inset -3px -3px 7px #eafcfc;
}

.btn:not(:disabled):not(.disabled):active:focus,
.btn:not(:disabled):not(.disabled).active:focus {
    box-shadow: inset 2px 2px 5px #b7c4dd, inset -3px -3px 7px #eafcfc, inset 2px 2px 5px #b7c4dd, inset -3px -3px 7px #eafcfc;
}